baseURL: "https://sterbemorgen.github.io/"
languageCode: "en-us"
title: "sterbe morgen"
theme: "PaperMod"

hasCJKLanguage: true 
enableInlineShortcodes: true
enableEmoji: true 
enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false
enableEmoji: true
pygmentsUseClasses: true