{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title entry-hint-parent">
      {{ .Title }}
      {{- if .Draft }}
      <span class="entry-hint" title="Draft">
        <svg xmlns="http://www.w3.org/2000/svg" height="35" viewBox="0 -960 960 960" fill="currentColor">
          <path
            d="M160-410v-60h300v60H160Zm0-165v-60h470v60H160Zm0-165v-60h470v60H160Zm360 580v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T862.09-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z" />
        </svg>
      </span>
      {{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "edit_post.html" . -}}
      {{- partial "post_canonical.html" . -}}
    </div>
    {{- end }}
    <!-- 返回顶部按钮 -->
    <a href="#top" id="backTopBtn" title="Go to top"></a>

    <!-- 自定义按钮样式 -->
    <style>
      #backTopBtn {
          position: fixed;
          bottom: 20px;
          right: 20px;
          display: none; /* 默认为不显示 */
          width: 50px;
          height: 50px;
          background-image: url('/icons/neuroplasticity.png');
          background-size: cover; /* 根据需要调整图片的显示方式 */
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;
          z-index: 1000;
      }

      #backTopBtn:hover {
          opacity: 0.8;
      }
    </style>

    <!-- 返回顶部按钮脚本 -->
    <script>
        var backTopBtn = document.getElementById("backTopBtn");

        window.onscroll = function() {
            // 控制按钮的显示
            if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
                backTopBtn.style.display = "block";
            } else {
                backTopBtn.style.display = "none";
            }
        };

        backTopBtn.addEventListener("click", function(event) {
            event.preventDefault();
            window.scrollTo({
                top: 0,
                behavior: "smooth"
            });
        });
    </script>

  </header>

  {{- $isHidden := (.Param "cover.hiddenInSingle") | default (.Param "cover.hidden") | default false }}
  {{- partial "cover.html" (dict "cxt" . "IsSingle" true "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <!-- Busuanzi script for article views and visitors -->
  <script async src="https://busuanzi.sukap.cn/busuanzi.pure.mini.js"></script>
  <div style="text-align: center; margin-top: 10px;">
    <span id="busuanzi_container_page_pv">Total Article Views: <span id="busuanzi_value_page_pv"></span></span><br>
    <span id="busuanzi_container_page_uv">Total Article Visitors: <span id="busuanzi_value_page_uv"></span></span>
  </div>

  <footer class="post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}
