.bubblegum-sans-regular {
  font-family: "Bubblegum Sans", serif;
  font-weight: 400;
  font-style: normal;
}
/* 当用户点击文章内容中的图片时，图片会被放大 */
.post-content img[loading="lazy"]:active {
    transform: scale(1.382);
}

/* 使文章中的图片在页面上显示时都具有相同的宽度 */
.post-content img[loading="lazy"] {
    width: 100%;
    height: auto;
}
