/* 引入字体 */
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

/* 定义字体样式 */
.bubblegum-sans-regular {
    font-family: "Bubblegum Sans", serif;
    font-weight: 400;
    font-style: normal;
}

/* 应用字体样式示例 */
body {
    font-family: "Bubblegum Sans", serif;
}

h1, h2, h3 {
    font-family: "Bubblegum Sans", serif;
}
// 为代码块顶部添加macos样式
.article-content {
    .highlight:before {
      content: "";
      display: block;
      background: url(/imges/code-header.svg);
      height: 25px;
      width: 100%;
      background-size: 52px;
      background-repeat: no-repeat;
      margin-top: -10px;
      margin-bottom: 0;
    }
  }
