<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{- partial "head.html" . }}
    <title>
        {{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}
    </title>
</head>

<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list" -}}
{{- end -}}
{{- if eq site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">
    <div id="app">
        <!-- 页眉部分 -->
        {{- partial "header.html" . }}

        <!-- 侧边栏部分 -->
        {{- if not .Params.hide_sidebar }}
        <div id="sideContainer" class="side-container">
            {{- partial "sidebar.html" . }}
        </div>
        {{- end }}

        <!-- 主内容区域 -->
        <main class="container">
            {{- block "main" . }}
            {{- end }}
        </main>
    </div>

    <!-- 页脚部分 -->
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}
    
    <!-- Netlify Identity Widget -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</body>

</html>