{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}

        <!-- Busuanzi script for page views and visitors -->
        <script async src="https://busuanzi.sukap.cn/busuanzi.pure.mini.js"></script>

        <div style="text-align: center; margin-top: 10px;">
            <span id="busuanzi_container_page_pv">Total Article Views: <span id="busuanzi_value_page_pv"></span></span><br>
            <span id="busuanzi_container_page_uv">Total Article Visitors: <span id="busuanzi_value_page_uv"></span></span>
        </div>
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
