<div id="sideContainer" class="side-container">
  <div class="nav-link-list">
    <a class="nav-link-item" href="/categories/perusal"><span class="link-text">perusal</span></a>
    <a class="nav-link-item" href="/categories/appreciation"><span class="link-text">appreciation</span></a>
    <a class="nav-link-item" href="/categories/introspective"><span class="link-text">introspective</span></a>
    <a class="nav-link-item" href="/categories/existence"><span class="link-text">existence</span></a>
  </div>
</div>
