<style>
    i[id*="post_meta_style"] {
        display: flex;
        align-items: center;
        margin: 0 0 10px 0;
    }

    .parent-post-meta {
        display: flex;
        flex-wrap: wrap;
        opacity: 0.8;
    }
</style>

<span class="parent-post-meta">
    <span id="post_meta_style_1">
        <span class="fa fa-calendar-check-o"></span>
        <span>{{- (.Date.Format "2006-01-02 15:04:05") }}</span>
        &nbsp;|&nbsp;
    </span>
    <span id="post_meta_style_2">
        <span class="fa fa-calendar-plus-o"></span>
        <span>Updated on &nbsp;{{- (.Lastmod.Format "2006-01-02 15:04:05") }}</span>
        &nbsp;|&nbsp;
    </span>
    <span id="post_meta_style_3">
        <span class="fa fa-file-word-o"></span>
        <span>{{ len .Plain }} Characters</span>
        &nbsp;|&nbsp;
    </span>
    <span id="post_meta_style_4">
        <span class="fa fa-clock-o"></span>
        <span>{{- math.Ceil (div (len .Plain) 500.0) }} min read</span>
    </span>
</span>


