{{- $id := .Get "id" | default (.Get 0) -}}
{{- $class := .Get "class" | default "" -}}
{{- $title := .Get "title" | default (.Get "id") | default "YouTube video player" -}}

<div class="youtube-container {{ $class }}">
    <iframe 
        src="https://www.youtube-nocookie.com/embed/{{ $id }}" 
        title="{{ $title }}"
        style="aspect-ratio: 16 / 9; width: 100%; height: auto;"
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen
        loading="lazy">
    </iframe>
</div>