/* 确保主内容区域 */
.container {
  margin-left: 25%;
  margin-top: 7%; /* 确保主内容从侧边栏右侧开始 */
  width: 50%; /* 主内容占据剩余 75% 宽度 */
  min-height: 70vh;
  white-space: normal;
}

/* 侧边栏样式 */
.side-container {
  position: fixed;
  top: 150px;
  left: 8%; /* 确保侧边栏固定在页面左边 */
  height: 50vh; /* 侧边栏高度充满屏幕 */
  width: 15%; /* 侧边栏宽度为屏幕的 25% */
  display: flex;
  flex-direction: column; /* 设置为竖着排列 */
  padding-top: 20px;
  padding-left: 20px;
  background-color: transparent; /* 背景色 */
}

.nav-link-list {
  display: flex;
  flex-direction: column; /* 设置菜单项竖直排列 */
  flex-grow: 1; /* 菜单项占满侧边栏的剩余空间 */
}

.nav-link-item {
  margin-bottom: 10px;
  padding: 6px 10px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.side-container a:hover .link-text {
    background-color: #FFDAB9; /* 点击和选中时的背景色 */
    border-bottom-color: var(--card-text-color-main);  /* 让底部线的颜色同步变化 */
    color: white; /* 选中时可以让文字变白，看起来更清晰（可选） */
}

/* 小屏幕下隐藏侧边栏 */
@media screen and (max-width: 768px) {
  .side-container {
    display: none; /* 在小屏幕下隐藏侧边栏 */
  }
}

.apple-music-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.apple-music-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
